.bookList{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.bookList ul{
    width: 50%;
    list-style-type: none;
}
.bookList li{
    background: #6d3d6d;
    text-align: left;
    padding: 1rem;
    cursor: pointer;
    margin: 15px 0;
    
    border-radius: 8px;
}
.empty{
    margin: 20px 0;
    text-align: center;
    font-size: 2rem;
}
