.form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
}

input[type='text']{
    width: 40%;
    padding: 15px;
    box-sizing: border-box;
    background: #3c1f3c;
    color: #fff;
    border: 0;
    margin: 6px 0;
    border-radius: 8px;
}
input[type='submit']{
    font-size: 1rem;
    width: 40%;
    padding: 15px;
    box-sizing: border-box;
    background: #3c1f3c;
    color: #fff;
    border: 0;
    margin: 6px 0;
    cursor: pointer;
    border-radius: 8px;
}

input[type='submit']:hover{
    background: #6d3d6d;
}